<a href="https://colab.research.google.com/github/quvonchbeksherbekov/Time/blob/main/suniy3maruza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
dff=pd.read_excel("/content/sample_data/Narxlar.xlsx",index_col=0)
dff

                   Pors  Narxi
Nomi
Osh              1-pors  11000
QozonKabob       1-kilo  23000
Sho'rva          1-pors  10000
Mastava          1-pors  80000
Somsa            1-dona  25000
Pirashki         1-dona   3000
Non              1-dona   3000
Dimlama          1-pors  90000
Kola             1-dona  13000
Pepsi            1-dona  14000
Fanta            1-dona  15000
Nos             1-xalta   4000
Sigaret        1-pachka  10000
Aroq             1-litr  25000
Lag'mon          1-pors  20000
Piva             1-dona  10000
Semichka         1-kilo  25000
Qurt             1-dona    500
SirnePalichka    1-kilo  12000

In [4]:
dff.loc['Osh']

Pors     1-pors
Narxi     11000
Name: Osh, dtype: object

In [5]:
bins=[0,10000,30000,100000]

In [6]:
population=dff.Narxi
population

Nomi
Osh              11000
QozonKabob       23000
Sho'rva          10000
Mastava          80000
Somsa            25000
Pirashki          3000
Non               3000
Dimlama          90000
Kola             13000
Pepsi            14000
Fanta            15000
Nos               4000
Sigaret          10000
Aroq             25000
Lag'mon          20000
Piva             10000
Semichka         25000
Qurt               500
SirnePalichka    12000
Name: Narxi, dtype: int64

In [7]:
values=["arzon","urtacha","qimmat"]
array=pd.cut(population,bins, labels=values)
array

Nomi
Osh              urtacha
QozonKabob       urtacha
Sho'rva            arzon
Mastava           qimmat
Somsa            urtacha
Pirashki           arzon
Non                arzon
Dimlama           qimmat
Kola             urtacha
Pepsi            urtacha
Fanta            urtacha
Nos                arzon
Sigaret            arzon
Aroq             urtacha
Lag'mon          urtacha
Piva               arzon
Semichka         urtacha
Qurt               arzon
SirnePalichka    urtacha
Name: Narxi, dtype: category
Categories (3, object): ['arzon' < 'urtacha' < 'qimmat']